# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.local
server/.env
electron-app/embedded-config.js

# Build output
dist/
client/dist/
dist-electron/

# Logs
*.log
npm-debug.log*

# SQLite local DB files
server/data/
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Misc
{client
*.code-workspace
